.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--container {
  display: flex;
  align-items: center;
  width: 80%;
  border-radius: 30px;
  background-color: #ffb874;
  padding: 0px 60px;
  margin-top: 3rem;
}
.header--container div {
  flex: 1;
}
.header--container h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 5px;
}
.header--container span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.header--container .button {
  box-shadow: 0px 18px 40px -12px #5c618d40;
  border: none;
  border-radius: 40px;
  background-color: #00bea4;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  margin: 20px 0 40px 0px;
  text-align: center;
  cursor: pointer;
}
.header--container img {
  width: 100%;
}
@media (max-width: 1000px) {
  .header--container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 30px;
  }
  .header--container h1 {
    font-size: 2em;
  }
  .header--container span {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header--container h1 {
    font-size: 1.5em;
  }
  .header--container span {
    font-size: 1em;
  }
}
